<!doctype html>
<html ng-app="webui">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Monkey Cache UI</title>

  <link rel="stylesheet" href="bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="bootstrap-theme.min.css">

  <script src="angular.min.js"></script>
  <script src="script.js"></script>
</head>

<body ng-controller="MainCtrl">
  <div class="container-fluid">
    <h1>Monkey Cache API!</h1>
    <h2>Files:</h2>
    <ul>
      <li ng-repeat="file in files" class="row">
        <span class="span9">{{file.uri}} (Size: {{file.size}})</span>
        <button class="btn btn-danger span3" ng-click="reset(file.uri)">Reset File</button>
      </li>
    </ul>
    <pre>{{api}}</pre>
  </div>
</body>

</html>
