<!doctype html>
<html ng-app="webui">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Monkey Cache UI</title>

  <link rel="stylesheet" href="libs/bootstrap/bootstrap.css" media="screen">

  <script src="libs/underscore/underscore.js"></script>
  <script src="libs/jquery/jquery-1.8.3.js"></script>
  <script src="libs/flot/jquery.flot.js"></script>
  <script src="libs/flot/curvedLines.js"></script>
  <script src="libs/angular/angular.min.js"></script>
  <script src="libs/angularui/bootstrap.js"></script>
  <script src="js/ctrls/main.js"></script>
  <script src="js/services/deps.js"></script>
  <script src="js/directives/dgraph.js"></script>
  <script src="js/init.js"></script>

  <style>
    /* fix modal overflow on low resolutions */
    .modal {
      position: absolute;
    }
    @media (min-width: 980px) {
      body {
        padding-top: 60px;
      }
    }
  </style>
</head>

<body ng-controller="MainCtrl">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
      <!--  using a span for collapse rather than a to fix the angular majic on anchors -->
      <span class="btn btn-navbar"
        ng-click="collapsed = !collapsed">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>

      <a class="brand">Monkey Cache UI</a>

      <div class="nav-collapse" collapse="collapsed">
      <ul class="nav">
        <li class="dropdown">
          <a class="active" href="#">Home</a>
        </li>
      </ul>
      </div>
    </div>
    </div>
  </div>

  <div class="container">

    <h2>Requests Statistics</h2>
    <div val="requests.served_per_sec" label="'Requests served per second'" dgraph></div>
    <h2>Memory Statistics</h2>
    <div val="memory.pipe_mem_used" label="'Memory consumed through pipes (in MB)'" dgraph></div>

    <h2>Cached Files</h2>
    <table class="table">
      <tr ng-repeat="file in files">
        <td colspan="4">{{ file.uri }}</td>
        <td>{{ file.size }}</td>
        <td>
          <button class="btn btn-danger span3" ng-click="reset(file.uri)">Reset File</button>
        </td>
      </tr>
    </table>

    <h2>Raw API</h2>
    <pre>{{api}}</pre>
  </div>
</body>

</html>
